<div class="container-pulsepay">

  <div class="dashboard-header">
    <div>
      <h1 class="page-title">Métodos de Pago</h1>
      <p class="page-subtitle">Configura tus opciones de pago</p>
    </div>
    <button mat-raised-button color="primary" routerLink="/metodos-pago/nuevo" class="btn-pulsepay">
      <mat-icon>add</mat-icon> Nuevo Método
    </button>
  </div>

  <div class="mat-elevation-z8 table-container card-pulsepay p-0">
    <table mat-table [dataSource]="dataSource" class="w-100">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let m"> #{{ m.metodoPagoId }} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let m">
          <div style="display: flex; align-items: center; gap: 10px;">
            <mat-icon class="icono-metodo" [ngClass]="{
              'blue-icon': m.nombre.includes('Transferencia'),
              'purple-icon': m.nombre.includes('Tarjeta'),
              'orange-icon': m.nombre.includes('QR')
            }">
              {{ m.nombre.includes('Transferencia') ? 'account_balance' :
              m.nombre.includes('Tarjeta') ? 'credit_card' : 'qr_code' }}
            </mat-icon>
            <span class="text-bold">{{ m.nombre }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let m" class="text-light"> {{ m.descripcion }} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let m">
          <span class="badge-pulsepay" [ngClass]="m.estado ? 'badge-success' : 'badge-danger'">
            {{ m.estado ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let m">
          <button mat-icon-button color="primary" [routerLink]="['/metodos-pago/editar', m.metodoPagoId]"
            matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminar(m.metodoPagoId!)" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5" style="text-align: center; padding: 40px; color: gray;">
          No hay métodos de pago registrados.
        </td>
      </tr>
    </table>
  </div>
</div>