<section class="comunidad-wrapper">
    <div class="barra_inicio" 
          style="--border-bottom-width: 1px; 
                 justify-content: space-between; 
                 align-items: center; 
                 --border-color: rgba(255, 255, 255, 0.4); 
                 --border-left-width: 1px; 
                 --border-right-width: 1px; 
                 --border-style: solid; 
                 --border-top-width: 1px; 
                 backdrop-filter: blur(16px); 
                 background-color: rgba(217, 217, 217, 0.1); 
                 width: 100%; 
                 border-radius: 40px; 
                 opacity: 1; 
                 padding: 10px 20px; 
                 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
                 margin-top: 20px;">

         <a routerLink="/" 
            style="display: flex; 
                   align-items: center; 
                   text-decoration: none; 
                   color: rgb(0, 0, 0); 
                   opacity: 1;">
              <img src="assets/imagenes/logo_flexpay.png" 
              alt="Logo FlexPay" 
              style="width: 60px; height: 60px; flex-shrink: 0;">
              <span class="texto_barra">FLEX-PAY</span> 
             </a>

             <nav style="display: flex; font-family: 'Poppins', sans-serif; font-size: 25px;">
               <a routerLink="/comunidad" 
                  style="text-decoration: none; color: #E9FFF7; transition: color 0.3s ease; margin-right: 105px;"
                  onmouseover="this.style.color='#abc0b8';" 
                  onmouseout="this.style.color='#E9FFF7';">
                 Sobre Nosotros
               </a>
             
               <a href="https://www.binance.com/es/academy/start-here?utm_campaign=googleadsxacademy&utm_source=googleadwords_int&utm_medium=cpc&ref=HDYAHEES&gad_source=1&gad_campaignid=15908685018&gbraid=0AAAAABZJ-KYKO0AFVDsT5ieBpjpvBWs-i&gclid=CjwKCAiAraXJBhBJEiwAjz7MZcFVdsI1x7WpJCZKxYqYBW06j1VBYaNcDq7uBuxIH7FhGaa3Y0V9bRoCmjQQAvD_BwE" target="_blank"
                  style="text-decoration: none; color: #E9FFF7; transition: color 0.3s ease; margin-right: 105px;"
                  onmouseover="this.style.color='#abc0b8';" 
                  onmouseout="this.style.color='#E9FFF7';">
                 Aprende
               </a>
             
               <a routerLink="/noticias" style="text-decoration: none; color: #E9FFF7; transition: color 0.3s ease; margin-right: 105px;"
               onmouseover="this.style.color='#abc0b8';" 
               onmouseout="this.style.color='#E9FFF7';">
              Noticias
            </a>
             
               

             </nav>

       <a  target="_blank"
            style="display: flex; 
                   align-items: center; 
                   text-decoration: none; 
                   color: rgb(0, 0, 0); 
                   opacity: 1;">
              <img src="assets/imagenes/peru.png" 
              alt="Perú" 
              style="width: 160px; height: 65px; flex-shrink: 0;"> 
             </a>
     </div>


      <a class="framer-1dc0k7u hidden-ki4pzb framer-lux5qc" 
     routerLink="/login"
     target="_blank" 
     rel="noopener">
      
      <div class="framer-e1uzgd" data-framer-name="Descargar app">
          <p class="framer-text" style="--font-selector: R0Y7U2F0b3NoaS03MDA=;">Comenzar</p>
      </div>
  
      <div class="framer-3rvo0i-container" style="margin-left: 10px;">
          <div class="framer-iSgFf framer-otkfy framer-v-otkfy" data-framer-name="QR_Arg">
              <div data-framer-background-image-wrapper="true">
                  <img decoding="async" 
                       sizes="66px" 
                       srcset="https://framerusercontent.com/images/5DnCswwU6Cuy6SITe8DIoTgYYk.svg?scale-down-to=512 512w, 
                               https://framerusercontent.com/images/5DnCswwU6Cuy6SITe8DIoTgYYk.svg?scale-down-to=1024 1024w, 
                               https://framerusercontent.com/images/5DnCswwU6Cuy6SITe8DIoTgYYk.svg 1147w" 
                       src="https://framerusercontent.com/images/5DnCswwU6Cuy6SITe8DIoTgYYk.svg?scale-down-to=512" 
                       alt="Código QR" 
                       style="display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: contain;">
              </div>
          </div>
      </div>
  </a>

  <div class="ultimo_parrafo1">
    <p>.</p>
  </div>

  


   

</section>